<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">
<!--    教师端分页查询课程-->
    <select id="teacherFind" resultMap="teacherCourseVO">
        select c.id,
        c.name,
        c.course_statue,
        c.description,
        c.term_period,
        (select count(*) from credit c2 where c2.course_id = c.id) as studentTotal,
        (select count(*) from work where work.course_id=c.id) as workTotal
        from course c
        <where>
            <if test="id != null">and c.id = #{id}</if>
            <if test="name != null and name != ''">and c.name like concat('%', #{name}, '%')</if>
            <if test="courseStatus != null">and c.course_statue = #{courseStatus}</if>
           and c.teacher_id = #{teacherId}
        </where>
        order by c.update_time desc
    </select>
    <resultMap id="teacherCourseVO" type="TeacherCourseVO">
        <id column="id" property="id"/>
        <result column="name" property="name" />
        <result column="course_statue" property="courseStatus"/>
        <result column="description" property="description" />
        <result column="term_period" property="termPeriod" />
        <result column="studentTotal" property="studentTotal" />
        <result column="workTotal" property="workTotal" />
    </resultMap>



    <!--    学生端分页查询全部课程-->
    <select id="findCourse" resultMap="CourseVO">
        select c.id,c.name,c.teacher_id,t.name as teacherName,c.course_statue,
               c.description,c.term_period,
        (select count(*) from credit c2 where c2.course_id = c.id) as studentTotal
        from course c
        left join teacher t on t.teacher_id=c.teacher_id
        <where>
            <if test="id!=null">and c.id=#{id}</if>
            <if test="name!=null and name!=''">and c.name like concat('%',#{name},'%')</if>
            <if test="courseStatus!=null">and c.course_statue=#{courseStatus}</if>
        </where>
        order by c.update_time desc
    </select>
    <resultMap id="CourseVO" type="CourseVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="teacher_id" property="teacherId" />
        <result column="teacherName" property="teacherName" />
        <result column="course_statue" property="courseStatus" />
        <result column="description" property="description" />
        <result column="term_period" property="termPeriod" />
        <result column="studentTotal" property="studentTotal" />
    </resultMap>
</mapper>