<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ScoreMapper">

    <update id="updateOneByTwoId">
        UPDATE score
        <set>
            <if test="position != null">
                position = #{position},
            </if>
        </set>
        WHERE work_id = #{workId} AND student_id = #{studentId}
    </update>

<!--    老师未批阅作业总数-->
    <select id="findWorkReviewing" resultType="Long">
        select count(*) from score s
        left join work w on s.work_id = w.id
        left join course c  on c.id=w.course_id
        where s.work_status=0
        and c.teacher_id=#{teacherId}
    </select>

<!--    老师已批阅作业总数-->
    <select id="findWorkReviewed" resultType="Long">
        select count(*) from score s
                                 left join work w on s.work_id = w.id
                                 left join course c  on c.id=w.course_id
        where s.work_status=1
          and c.teacher_id=#{teacherId}
    </select>


<!--    查询作业分数为0-59的总数-->
    <select id="findWork059" resultType="Long">
    select count(*) from score s
    left join work w on s.work_id = w.id
    left join course c  on c.id=w.course_id
    where s.work_status=1
      and s.score between 0 and 59
    and c.teacher_id=#{teacherId}
    </select>

<!--    查询作业分数为60-69的总数-->
    <select id="findWork6069" resultType="Long">
        select count(*) from score s
                                 left join work w on s.work_id = w.id
                                 left join course c  on c.id=w.course_id
        where s.work_status=1
          and s.score between 60 and 69
          and c.teacher_id=#{teacherId}
    </select>

<!--    查询作业分数为70-79的总数-->
    <select id="findWork7079" resultType="Long">
        select count(*) from score s
                                 left join work w on s.work_id = w.id
                                 left join course c  on c.id=w.course_id
        where s.work_status=1
          and s.score between 70 and 79
          and c.teacher_id=#{teacherId}
    </select>

<!--    查询作业分数为80-89的总数-->
    <select id="findWork8089" resultType="Long">
        select count(*) from score s
                                 left join work w on s.work_id = w.id
                                 left join course c  on c.id=w.course_id
        where s.work_status=1
          and s.score between 80 and 89
          and c.teacher_id=#{teacherId}
    </select>

<!--    查询作业分数为90-100的总数-->
    <select id="findWork90100" resultType="Long">
        select count(*) from score s
                                 left join work w on s.work_id = w.id
                                 left join course c  on c.id=w.course_id
        where s.work_status=1
          and s.score between 90 and 100
          and c.teacher_id=#{teacherId}
    </select>
</mapper>